# Ambiente e variáveis locais
.env
.venv/

# Cache Python
__pycache__/
*.pyc

# Saídas do sistema
outputs/*
!outputs/.gitkeep

# Resultados gerados fora da base comum
resultados_mvp/

# Dados locais/oficiais pesados
data/*
!data/.gitkeep

# Arquivos SIG e geoprocessamento
*.gpkg
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.qgz
*.qgs

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db